.calculator-screen{
  background-color: darkgreen;
  width: 85%;
  height: 65px;
  text-align: right;
  border: 2px solid black;
  border-radius: 5px;
}

.upper-screen{
  height: 40%;
  font-size: 20px;
}

.lower-screen{
  height: 60%;
  font-size: 35px;
}
